dist/
**/**/bin/
**/**/obj/
src/tests/**/[Cc]overage*.*
**/**/appsettings*.json
!**/**/appsettings.Development.json
!**/**/appsettings.Release.json
*~

*.md

.dockerignore
.git
.gitattributes
.gitignore
LICENSE
[Mm]akefile
[Dd]ockerfile
docker-compose.yml
_site
Gemfile.lock
